---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/portfolio/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Experience from "@/components/portfolio/Experience.astro";
import Hero from "@/components/portfolio/Hero.astro";
import Projects from "@/components/portfolio/Projects.astro";
import SectionContainer from "@/components/portfolio/SectionContainer.astro";
import TitleSection from "@/components/portfolio/TitleSection.astro";

---

<Layout
  title="Porfolio de Jhampier - Desarrollador y Programador Full Stack con 5 años de experiencia"
  description="Contrata a Jhampier para crear tu aplicación web o móvil. Desarrollador y Programador Full Stack. Especializado en crear aplicaciones únicas."
>
  <main class="px-4">
    <SectionContainer id="presentacion" class="py-24 md:py-36">
      <Hero />
    </SectionContainer>
  </main>

  <div class="space-y-24 px-4">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>

      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>

      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>

      <AboutMe />
    </SectionContainer>

    <SectionContainer id="habilidades">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Habilidades
      </TitleSection>

      <AboutMe />

    </SectionContainer>
  </div>
</Layout>
